body {
    /* General background img  */
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: cover; /* Cover the entire viewport */
    min-height: 100vh;
    margin: 0; /* Remove default margin */
  }
  
  .container {
    position: relative; /* Make sure it's relative to the body */
    z-index: 2; /* Ensure it's above the blurred background */
  }
  
  .search-box {
    top: 50%;
    left: 5%;
    position: fixed;
    position: relative;
    transform: translateY(900%);
    z-index: 2; /* Ensure it's above the blurred background */
  }
  

/* ---------------------------------------------------------------------Random movie----------------------------------------------------------------------------- */

#Random-Btn{
top: 50%;
left: 5%;
position: fixed;
position: relative;
transform: translateY(900%);
}

/* ------------------------------------------------------------------------Movie box---------------------------------------------------------------------------- */


/* Text color and size */
.text {
    color: white; /* Example color */
    font-size: 16px; /* Example font size */
}
